{% extends 'courses/base.html' %}

{% block container %}
    <h2>About</h2>
    <p>The first platform with learning courses based information from top leaders of industries,
    well-known scientists and artists. Discover original books, science magazines articles,
    interviews and even tweets. Learn geometry by Euclid, quantum mechanics by Niels Bohr and Erwin Schrödinger,
    aerospace engineering by Elon Musk, crypto by Satoshi Nakamoto and Vitalik Buterin and many others. <p>

{% endblock %}
