<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ page_name|default:"Page"|title|add:" - Learn The Original"|title }}
    </title>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>

{% block menu %}
    <div class="menu">
        <a href="{% url 'courses:index' %}">Main</a>
        <a href="{% url 'courses:about' %}">About</a>
        <a href="{% url 'contacts:contacts' %}">Contacts</a>
    </div>
{% endblock %}

{% block container %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>