

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


.logo {
    font-family: 'Work Sans';
    font-size: 40px;
    background-color: #e3e0cd;
    text-decoration: none;
    color: black;
    padding: 0 5px;
}


.logo-container {
    display: flex;
    /* padding: 10px; */
    margin: 10px;    
}