.body {
  margin: 0;
  height: 100vh;
  display: flex; 
  flex-direction: column; 
}

.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e9ecef;
}


.content {
  display: inline;
}

.cards-field {
  display:inline-block;
  background-color:gainsboro;
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 1px;
  border-color:silver;
  /* padding: 0px 30px 0px; */
  /* overflow-x: auto;   */
}


.cards-field-scroll {
  display: flex;
  overflow-x: auto;   
  min-height: 400px;
  /* scrollbar-width: none; */
}

.cards-field-title {
  margin-left: 20px;

}

/* .cards-field::-webkit-scrollbar {
  display: none;
} */




.login-form {
  width: 100%;
  width: 210px;
  padding: 15px;
  margin: auto;
  background-color: white;
  border:1px solid #dee2e6
}

.div {
  display: block;
}

.button-zone {
  display: flex;
  justify-content: center;
}

.role-button {
  display: block;
  font-size: 30px;
  width: auto;
  margin: 0 10px 0;
}

.emoji {
  font-size: 200px;
}
