.body {
  margin: 0;
  height: 100vh;
  display: flex; 
  flex-direction: column; 
}

.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e9ecef;
}


.content {
  display: inline;
}

.cards-field {
  display:inline-block;
  background-color:gainsboro;
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 1px;
  border-color:silver;
  /* padding: 0px 30px 0px; */
  /* overflow-x: auto;   */
}


.cards-field-scroll {
  display: flex;
  overflow-x: auto;   
  min-height: 400px;
  /* scrollbar-width: none; */
}

.cards-field-title {
  margin-left: 20px;

}

/* .cards-field::-webkit-scrollbar {
  display: none;
} */




.login-form {
  width: 100%;
  width: 210px;
  padding: 15px;
  margin: auto;
  background-color: white;
  border:1px solid #dee2e6
}

.div {
  display: block;
}

.button-zone {
  display: flex;
  justify-content: center;
}

.role-button {
  display: block;
  font-size: 30px;
  width: auto;
  margin: 0 10px 0;
}

.emoji {
  font-size: 200px;
}




.teacher-card {
  /* display: flex; */
  min-width: 300px;
  width: 300px;
  margin: 20px;
  /* border-radius: 6px; */
  /* background-color: salmon; */
  /* background-color: gainsboro; */
  box-shadow: 0 0 10px rgba(102, 94, 94, 0.4);
  transition: transform .3s;
  background-color: white;
}


.teacher-card-image img {
  width: 100%;
}   

.teacher-card:hover {
  transform: scale(1.03);
  transition: transform .3s;
}

.teacher-card-title {
  /* display: flex; */
  /* height: 100%; */
  background-color:rgb(238, 235, 235);
}



.course-card {
  /* display: flex; */
  min-width: 300px;
  width: 300px;
  margin: 20px;
  /* border-radius: 6px; */
  /* background-color: salmon; */
  /* background-color: gainsboro; */
  box-shadow: 0 0 10px rgba(102, 94, 94, 0.4);
  transition: transform .3s;
  background-color: white;
}


.course-card-image img {
  width: 100%;
}   

.course-card:hover {
  transform: scale(1.03);
  transition: transform .3s;
}

.course-card-title {
  /* display: flex; */
  /* height: 100%; */
  background-color:rgb(238, 235, 235);
}